
.scroller-main {
    max-width: 60rem;
    margin: 3rem auto;
    padding: 1rem;
    /* border: 1px solid black; */
}

.scroller-graphic {
    position: -webkit-sticky;
    position: sticky;
    width: 40vw;
    margin: 0;
    top: 10vh;
    height: 80vh;
    left: 60vw;
    /* border: 1px dashed gray; */
}

.scroller {
    padding: 0;
    max-width: 30rem;
    margin: 0 auto;
    position: relative;

}

.scroller-step {
    min-height: 69vh;
    margin-bottom: 40rem;
    background: rgba(255, 255, 255, 0.4);
    padding: 2vw;
    border: 3px solid #4f4f4f;
    border-radius: 3px;

}

.scroller-step p {
    color: #4f4f4f;
    font-family: 'Open Sans', sans-serif;
}

.param-label {
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wdth' 500, 'wght' 400;
    fill: #4f4f4f;
    text-shadow: 1px 1px 0px #fffff7;

}

.generation-text{
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wdth' 500, 'wght' 400;
    font-size: 10vh;
    fill: #41B3A3;
    text-shadow: 2px 2px 0px #4f4f4f;
}

.scrolling-slider {
    margin-left: 2vw;
}

#range-slider {
    font-family: 'Oswald', sans-serif;
    font-variation-settings: 'wdth' 500, 'wght' 400;
    color: #4f4f4f;
    text-shadow: 1px 1px #fffff7;
}

span.MuiSlider-root{
    height: 8px;
    width: 200px;
}
span.MuiSlider-root.MuiSlider-colorPrimary {
    color: #e5888a;
}

span.MuiSlider-thumb{
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 2px solid currentColor;
    margin-top: -8px;
    margin-left: -12px;

}
span.PrivateValueLabel-thumb-51.PrivateValueLabel-open-52 .PrivateValueLabel-offset-53 {
    left: calc(-50% + 4px);
    font-size: 10px;
}

span.MuiSlider-track {
    height: 8px;
    border-radius: 4px;
}

span.MuiSlider-rail {
    height: 8px;
    border-radius: 4px;
}

.try-this {
    background-color: #E8A87C;
    border: 2px solid #e39d6d;
    border-radius: 2px;
    padding: 2px;
    color: #fffff7;
}

.try-this:hover{

}